@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* removes the selected element highlight visible on the UI on click */
*:focus {
  outline: none;
}

body {
  background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 12px;
  color: hsl(238, 29%, 16%);  
  font-family: 'Kumbh Sans', sans-serif;

}

.attribution {
  font-size: 11px;
  text-align: center;
  color:white;

}

.attribution a {
  color: white;
}



.container {
  background-color: white;
  /* border: 2px solid magenta; */
  width: 75%;
  max-width: 1440px;
  
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.5em;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 2em;
 

}
img {
  max-width: 100%;
}
.columns {
  width: 100%;
  /* border: 2px solid blue; */
  font-size: 1em;
  padding: 4.5em;

}

.col-bg {
  display: flex;
  flex-direction: column;  
  font-size: 1.3em;
  /* border: 2px solid orange; */
  
 
}

.col {
  display: flex;   
  /* border: 2px solid red; */
  padding:0.2em;
 
  
}
summary::before{
  font-weight: normal;
}
summary:focus{
  font-weight: bold;
}
summary::after{
  font-weight: normal;
}

.icon-arrow{
  /* border:2px solid green; */
  width:fit-content;
}

.icon-img{
  padding:0.1em;
  /* border:2px solid magenta; */
  width:100%;
}

h1 {
  padding: 1rem;
  color: hsl(237, 12%, 33%);
  font-weight: bold;
}
details {
  width: 100%;
  /* border: 2px solid brown; */
  
 
}
.detail-content{
  margin-left:0.5rem;
}


summary {
  display: flex;
    /* border: 2px solid blue; */
    padding: 0.5rem;
    justify-content: space-between;
    cursor: pointer;
    
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

 
  
hr {
  color:hsl(240, 5%, 91%);
  margin-left:0;
  margin-right:0; 
}


.col-imgs {
  display: flex;
  
  /* border:2px solid green; */
  background-image:url("images/illustration-woman-online-desktop.svg"), url("images/bg-pattern-desktop.svg") ;
  background-position:-78%, 135% 70%;
 
  background-repeat: no-repeat;
  
 background-clip:border-box;
}

/* .col-1 {
  position: absolute;
  top: -18%;
  left: -25%;
  border: 2px solid red;

}

.col-2 {
  position: absolute;
  top: 32%;
  right: 62%;
  height: auto;
  border: 2px solid black;
}

 */

 .col-3 {
  position: relative;
  top: 13%;
  right: 63%;
  /* border: 2px solid red; */
  margin:0 auto;
  width:100%;
  
  
  padding:8.5rem;
}

@media (max-width:420px){
  .container{
    display:flex;
    flex-direction:column;
  }
  .columns{
    padding:0em;
    margin:0;
    width:100%;
  }

  .col-imgs{
    background-image:url("images/illustration-woman-online-mobile.svg"), url("images/bg-pattern-mobile.svg") ;
    background-position: top center;
    background-repeat: no-repeat;  
    background-clip:border-box;
    background-size:auto;
    border: 2px solid green;
   
    margin:0;
  }
  .col-3 {
    border: 2px solid red;
    position: relative;
    top: -100%;
    right: 0;
    /* border: 2px solid red; */
    margin:0;
    width:100%;
    z-index:0;
    opacity: 0%;
    height:10%;
    
    
  }
  
}