@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body{
    font-size:12px;
    color:hsl(238, 29%, 16%);
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
}
 .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  img{
      max-width:100%;
  }
  .container{
      border: 2px solid magenta;
      width:100%;
      max-width:980px;
      display:flex;
      margin:0 auto;
      justify-content: space-between;
      padding:2.5em;
      
  }
 
  .columns{
    width:100%;
     border: 2px solid blue;
     font-size:1rem;
    padding:1.5em;
     
     
  }
  .col{
    width:100%;
    border:2px solid red;
}
h1{
  padding:0.5rem;
}
 
.col-bg{
  padding:1em;
}
  details{
    padding:0.5em;
  }
summary{
  padding:0.5em;
}

.col-imgs{
  display:flex;
  align-items: flex-start;
  position: relative;
}
.col-1{
position:absolute;
top:0;
left:0;
}
.col-2{
position:absolute;
top:0;
left:0;
}
.col-3{
position: relative;
}