@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  background-image: linear-gradient( to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
body {
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  
}

.attribution {
  font-size: 11px;
  text-align: center;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  max-width: 100%;
}

.container {
 background-color: white;
  border: 2px solid magenta;
  width: 75%;
  max-width: 1440px;
  min-width: 375px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1em;
  margin-top:7%;
  margin-bottom:10%;
  border-radius: 2em;

}

.columns {
  width: 100%;
  border: 2px solid blue;
  font-size: 1em;
  padding: 5.5em;


}

.col {
  width: 100%;
  /* border: 2px solid red; */
}

h1 {
  padding: 0.5rem;
  color: hsl(237, 12%, 33%);
  font-weight: bold;
}

hr {
  color: hsl(240, 5%, 91%);
}

.col-bg {
  padding: 0.5em;
  font-size:1.3em;
}

details {
  padding: 0.5em;
}

summary {
  padding: 0.5em;
}

.col-imgs {
  display: flex;
  align-items: flex-start;
  
}

.col-1 {
  position: absolute;
  top: -23%;
  left: -25%;
 
}

.col-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.col-3 {
  position: relative;
  top: 20%;

  z-index: 2;
}