
 .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .container{
      border: 2px solid magenta;
      width:90%;
      max-width:620px;
      display: flex;
      margin:0 auto;
  }
 img{
     width:100%;
 }

  .faq-container{
     border: 2px solid blue;
  }
  .img-container{
border: 2px solid cyan;
  }
