
 .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .container{
      border: 2px solid magenta;
      width:100%;
      max-width:820px;
      display: flex;
      margin:0 auto;
      
  }
 .col{
     width:80%;
     border:2px solid red;
 }

  .columns{
     border: 2px solid blue;
     font-size: 1.2rem;
     
  }
  
